body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: #333333; }

a {
  text-decoration: none;
  color: #333333; }
  a:hover {
    text-decoration: underline;
    color: blue; }

.item h4.feed-title {
  margin-top: 4px;
  margin-bottom: 4px; }
.item h3.item-title {
  margin-top: 4px;
  margin-bottom: 4px; }

.item {
  background-color: white;
  /* todo: use box shadow instead of border */
  /* border: 1px solid grey; */
  padding: 10px 15px 10px 15px;
  /* top right bottom left */
  margin-bottom: 24px;
  margin-right: 24px; }
  .item .item-published {
    font-size: 12px;
    color: grey; }
  .item .item-time-ago-in-words {
    font-size: 12px;
    color: grey; }

.small {
  font-size: 12px;
  color: grey; }
